@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
  @apply mx-4 lg:mx-20; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Global styles */

.carousel-image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Cart container styles */

.cart-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
}

.cart-container li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Product list styles */

.product-list {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.product-list button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-list button:hover {
  background-color: #005bb5;
}
